*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Open sans", sans-serif;

}

.h1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 300px;
}

.current-time{
    background-color: cornflowerblue;
    padding: 2px;
    position: relative;
    top: -20px;

}

.tijd-haltes{
    display: flex;
    flex-direction: row;
    background-color: yellowgreen;
    justify-content: space-between;
    width: 300px;
}

.locatie-tijd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.blue-spacer{
    height: 60px;
    background-color: cornflowerblue;
}

.container{
    width: 300px;
}